<button type="button" class="btn btn-danger mb-3" (click)="logOut()">Logout</button>
<form [formGroup]="giocatoreForm" (submit)="insertGiocatore()">
    <div class="container border p-3 mb-3">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">nome</span>
            <input type="text" class="form-control" aria-label="Username"
                aria-describedby="basic-addon1" formControlName="nome">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">valutazione</span>
            <input type="number" class="form-control" aria-label="Recipient's username"
                aria-describedby="basic-addon2" formControlName="costo" >
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Ruolo</span>
            <select class="form-control" name="ruolo" id="id" formControlName="ruolo">
                <option>POR</option>
                <option>DIF</option>
                <option>ATT</option>
            </select>
        </div>
        <div *ngIf="errorMessages.length > 0" class="m-1 p-1 bg-danger text-center" style="color: white;">
            <label>{{errorMessages[0]}}</label>
        </div>
        <button class="btn btn-success w-100" type="submit">inserisci giocatore</button>
    </div>
</form>

<div class="container border p-3 mb-3">
    <form [formGroup]="giocatoreValutazioneForm" (submit)="null">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">cerca giocatore</span>
            <input type="text" class="form-control" (keyup)="onSeachDropdownValue($event)" />
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{giocatoreSelected.nome ? giocatoreSelected.nome : giocatoreSelected}}
            </button>
            <ul class="dropdown-menu w-100 text-center">
                <li (click)="onSelectDropdownValue('scegli giocatore')" class="p-1">scegli giocatore</li>
                <li *ngFor="let option of searchedOptions" (click)="onSelectDropdownValue(option)" class="p-1">{{option.nome}}</li>
            </ul>
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">punteggio</span>
            <input type="text" class="form-control" formControlName="punteggio">
        </div>

        <button class="btn btn-success w-100">inserisci punteggio giocatore</button>
    </form>
</div>
<div class="container border p-3 mb-3" *ngIf="utenti.length > 0">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let utente of utenti">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Accordion Item #1
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <button class="btn btn-danger w-100 mb-2">rifiuta</button>
                    <button class="btn btn-success w-100">accetta</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container border p-3 mb-3" *ngIf="giocatori.length > 0">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let giocatore of giocatori">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#carlo"
                    aria-expanded="true" aria-controls="collapseOne">
                    Accordion Item #1
                </button>
            </h2>
            <div id="carlo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <button class="btn btn-danger w-100 mb-2">elimina</button>
                    <button class="btn btn-danger w-100 mb-2">infortunio</button>
                    <button class="btn btn-danger w-100">squalificazione</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container border p-3 mb-3">
    <button class="btn btn-success w-100" (click)="openModalCalcolaGiornata(content)">calcola giornata</button>
</div>

<div *ngIf="errorMessagesGiornata.length > 0" class="m-1 p-1 bg-danger text-center" style="color: white;">
    <label>{{errorMessagesGiornata[0]}}</label>
</div>

<ng-template #content let-modal>
    <div class="modal-header" >
        <h4 class="modal-title" id="modal-basic-title">sicuro?</h4>
    </div>
    <div class="modal-body">
        <button type="button" class="btn btn-success w-100 mb-3" (click)="modal.close()">calcola</button>
        <button type="button" class="btn btn-danger w-100" (click)="modal.dismiss()">non calcolare</button>
    </div>
</ng-template>

