<button type="button" class="btn btn-danger mb-3 w-50" (click)="logOut()">Logout</button>
<form [formGroup]="giocatoreForm" (submit)="insertGiocatore()">

    <div class="container border pb-3 mb-3">
        <div class="d-flex justify-content-center">
            <h4 class="justify-content-center m-auto p-2">Inserisci Nuovo Giocatore</h4>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">nome</span>
            <input type="text" class="form-control" aria-label="Username"
                aria-describedby="basic-addon1" formControlName="nome">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">valutazione</span>
            <input type="number" class="form-control" aria-label="Recipient's username"
                aria-describedby="basic-addon2" formControlName="costo" >
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">squadra</span>
            <select class="form-control" name="ruolo" id="id" formControlName="squadraufficiale" >
                <option *ngFor="let squadraUfficiale of squadreUfficiali" [ngValue]="squadraUfficiale.id">
                    {{squadraUfficiale.nome_squadra}}
                </option>
            </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Ruolo</span>
            <select class="form-control" name="ruolo" id="id" formControlName="ruolo">
                <option>POR</option>
                <option>DIF</option>
                <option>ATT</option>
            </select>
        </div>
        <div *ngIf="errorMessages.length > 0" class="m-1 p-1 bg-danger text-center" style="color: white;">
            <label>{{errorMessages[0]}}</label>
        </div>
        <button class="btn btn-success w-100" type="submit">inserisci giocatore</button>
    </div>
</form>

<form [formGroup]="squadraForm" (submit)="insertSquadra()">
    <div class="container border pb-3 mb-3">
        <div class="d-flex justify-content-center">
            <h4 class="justify-content-center m-auto p-2">Inserisci Nuova Squadra</h4>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">nome</span>
            <input type="text" class="form-control" formControlName="nomesquadra">
        </div>
        <button class="btn btn-success w-100" type="submit">inserisci Squadra</button>
    </div>
</form>

<form [formGroup]="creditoForm" (submit)="insertCredito()">
    <div class="container border pb-3 mb-3">
        <div class="d-flex justify-content-center">
            <h4 class="justify-content-center m-auto p-2">Inserisci Credito</h4>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Credito</span>
            <input type="number" class="form-control" formControlName="credito">
        </div>
        <button class="btn btn-success w-100" type="submit">inserisci Credito</button>
    </div>
</form>

<div class="container border pb-3 mb-3">
    <form [formGroup]="giocatoreValutazioneForm" (submit)="inserisciValutazioneGiocatore()">
        <div class="d-flex justify-content-center">
            <h4 class="justify-content-center m-auto p-2">Inserisci Valutazione Giornata</h4>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">cerca giocatore</span>
            <input type="text" class="form-control" (keyup)="onSeachDropdownValue($event)" />
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{giocatoreSelected.nome ? giocatoreSelected.nome : giocatoreSelected}}
            </button>
            <ul class="dropdown-menu w-100 text-center">
                <li (click)="onSelectDropdownValue('scegli giocatore')" class="p-1">scegli giocatore</li>
                <li *ngFor="let option of searchedOptions" (click)="onSelectDropdownValue(option)" class="p-1">{{option.nome}}</li>
            </ul>
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">punteggio</span>
            <input type="text" class="form-control" formControlName="punteggio">
        </div>

        <button class="btn btn-success w-100">inserisci punteggio giocatore giornata</button>
        <div *ngIf="errorMessagesValutazione.length > 0" class="m-1 p-1 bg-danger text-center" style="color: white;">
            <label>{{errorMessagesValutazione[0]}}</label>
        </div>
    </form>
</div>

<div class="container border pb-3 mb-3">
    <form [formGroup]="partitaForm" (submit)="inserisciPartita()">
        <div class="d-flex justify-content-center">
            <h4 class="justify-content-center m-auto p-2">Inserisci Partita Giornata</h4>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Squadra Casa</span>
            <select class="form-control" name="ruolo" id="id" formControlName="id_prima_squadra" >
                <option *ngFor="let squadraUfficiale of squadreUfficiali" [ngValue]="squadraUfficiale.id">
                    {{squadraUfficiale.nome_squadra}}
                </option>
            </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Squadra Transferta</span>
            <select class="form-control" name="ruolo" id="id" formControlName="id_seconda_squadra" >
                <option *ngFor="let squadraUfficiale of squadreUfficiali" [ngValue]="squadraUfficiale.id">
                    {{squadraUfficiale.nome_squadra}}
                </option>
            </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Giornata</span>
            <input type="number" class="form-control" formControlName="giornata">
        </div>
        


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Data</span>
            <input type="datetime-local" class="form-control" formControlName="data_partita">
        </div>

        <button class="btn btn-success w-100">inserisci Partita</button>
    </form>
</div>



<div class="container border pb-3 mb-3" *ngIf="utenti.length > 0">
    <div class="d-flex justify-content-center">
        <h4 class="justify-content-center m-auto p-2">Gestione Utenti</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Accetta</th>
                <th scope="col">Rifiuta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let utente of utenti">
                <td>{{utente.email}}</td>
                <td>
                    <button class="btn btn-success w-100 mb-2" (click)="autorizza(utente.id_utente)">Accetta</button>
                </td>
                <td>
                    <button class="btn btn-danger w-100 mb-2" (click)="elimina(utente.id_utente)">Elimina</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container border pb-3 mb-3" *ngIf="giocatori.length > 0">
    <div class="d-flex justify-content-center">
        <h4 class="justify-content-center m-auto p-2">Gestione Giocatori</h4>
    </div>
    <select class="form-select mb-3 border-black focus-ring focus-ring-dark" (change)="null" [(ngModel)]="giocatoreDaModificare">
        <option  [ngValue]="null"></option>
        <option *ngFor="let giocatore of giocatori" [ngValue]="giocatore">
            {{giocatore.nome}}
        </option>
    </select>
    <div *ngIf="giocatoreDaModificare" class="w-100">
        <button class="btn btn-danger w-100 mb-2 "
            (click)="eliminaGiocatore(giocatoreDaModificare.id_giocatore)">Elimina</button>
        <button class="btn w-100 mb-2" 
                [ngClass]="giocatoreDaModificare.binfortunato ? 'btn-success' : 'btn-danger'"
            (click)="infortunioGiocatore(giocatoreDaModificare.id_giocatore)">
            {{giocatoreDaModificare.binfortunato ? 'ritorno da infortunio' : 'segnala infortunio'}}
        </button>
        <button class="btn w-100 mb-2" 
                [ngClass]="giocatoreDaModificare.bsqualificato ? 'btn-success' : 'btn-danger'"
            (click)="squalificaGiocatore(giocatoreDaModificare.id_giocatore)">
            {{giocatoreDaModificare.bsqualificato ? 'riammissione' : 'segnala squalifica'}}
        </button>
    </div>
</div>

<div class="container border p-3 mb-3">
    <button class="btn w-100"
            [ngClass]="mercatoAperto ? 'btn-danger' : 'btn-success'" 
            (click)="apriChiudiMercato()">
        {{mercatoAperto  ? 'Chiudi Mercato' : 'Apri Mercato'}}
    </button>
</div>

<div class="container border p-3 mb-3">
    <button class="btn btn-success w-100" (click)="openModalCalcolaGiornata(content)">calcola giornata</button>
</div>

<div *ngIf="errorMessagesGiornata.length > 0" class="m-1 p-1 bg-danger text-center" style="color: white;">
    <label>{{errorMessagesGiornata[0]}}</label>
</div>

<ng-template #content let-modal>
    <div class="modal-header" >
        <h4 class="modal-title" id="modal-basic-title">sicuro?</h4>
    </div>
    <div class="modal-body">
        <button type="button" class="btn btn-success w-100 mb-3" (click)="modal.close()">calcola</button>
        <button type="button" class="btn btn-danger w-100" (click)="modal.dismiss()">non calcolare</button>
    </div>
</ng-template>

