<ng-template class="container w-100" #nothing>
  <h1 class="text-center mt-3">Nessun Giocatore</h1>
</ng-template>

<div class="position-flex mt-1 mb-1">
  <select class="form-control" name="ruolo" id="ruolo" [(ngModel)]='nrSelect' (change)="onChangeRuolo()">
    <option value="ALL" select>Tutti</option>
    <option value="POR">Portieri</option>
    <option value="DIF">Difensori</option>
    <option value="ATT">Attaccanti</option>
  </select>
</div>

<div>
  <table class="table mb-5" *ngIf="giocatori.length > 0;else nothing">
    <thead>
      <tr>
        <th scope="col">Giocatore</th>
        <th scope="col">Valutazione</th>
        <th scope="col">Ruolo</th>
        <th scope="col">Acquista</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let giocatore of giocatori" class="align-middle">
        <td>{{giocatore?.nome}}</td>
        <td>{{giocatore?.costo}}</td>
        <td>{{giocatore?.eruolo}}</td>
        <td *ngIf="!giaPresente(giocatore.id_giocatore);else sell">
          <button type="button" class="btn btn-success w-100" (click)="buy(giocatore)">Acquista</button>
        </td>
        <ng-template #sell>
          <td>
            <button type="button" class="btn btn-danger w-100" (click)="sellgiocatore(giocatore)">Vendi</button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
