<ul class="list-group list-group-flush mt-3" *ngIf="matchsList.length > 0;else nothing">
    <li class="list-group-item " *ngFor="let match of matchsList">
        <p class="text-center" style="margin: none !important; padding: none !important;">Giornata {{match?.numero_giornata}}</p>
        <h4 class="text-center">
            <div class="col-3 float-start" style="width: 30%; overflow: hidden;text-overflow: ellipsis !important;">
                <img [src]="match?.prima_squadra?.logo"
                    width="auto" height="70px"><br>
                {{match?.prima_squadra?.nome_squadra}} 
            </div>
                                    {{match?.risultato_prima_squadra != -1 ? match?.risultato_prima_squadra : null}}
                                    VS
                                    {{match?.risultato_seconda_squadra != -1 ? match?.risultato_seconda_squadra : null}}
            <div class="w-25 col-3 float-end" style="overflow: hidden;text-overflow: ellipsis !important;">
                <img [src]="match?.seconda_squadra?.logo"
                    width="auto" height="70px">
                {{match?.seconda_squadra?.nome_squadra}}
            </div>
        </h4>
        <p class="text-center">{{match?.data_partita | date: 'dd/MM/yyyy'}} - {{match?.data_partita | date: 'hh:mm aa'}}</p>
    </li>
</ul>

<ng-template class="container w-100" #nothing>
    <h1 class="text-center mt-3">Nessuna Partita</h1>
</ng-template>