<div class="input-group mb-3 mt-3">
    <select class="form-select" (change)="onChangeFormation()" [(ngModel)]="formazioneSelected">
        <option *ngFor="let formazione of formazioni" [ngValue]="formazione">
            1-{{formazione.numero_difensori}}-{{formazione.numero_attaccanti}}</option>
    </select>
</div>

<ul class="list-group" *ngIf="formazioneSelected">
    <div *ngFor="let portiere of portieri">
        <li class="list-group-item" *ngIf="portiere.id_giocatore; else scegliportiere">
            <h5>
                <h5 class="text-warning">Portiere</h5> {{portiere.nome}}
            </h5>
        </li>
    </div>
    <ng-template class="list-group-item" #scegliportiere>
        <button type="button" class="btn btn-warning mb-3 w-100" (click)="open(content, 1)">Scegli Portiere</button>
    </ng-template>
    <br>

    <div *ngFor="let difensore of difensori">
        <li class="list-group-item mb-3 align-middle" *ngIf="difensore.id_giocatore; else sceglidifensore">
            <h5>
                <h5 class="text-success">Difensore</h5> {{difensore.nome}}
            </h5>
        </li>
    </div>
    <ng-template class="list-group-item" #sceglidifensore>
        <button type="button" class="btn btn-success mb-3 w-100" (click)="open(content, 2)">Scegli Difensore</button>
    </ng-template>

    <br>

    <div *ngFor="let attaccante of attaccanti">
        <li class="list-group-item mb-3" *ngIf="attaccante.id_giocatore; else scegliattaccante">
            <h5>
                <h5 class="text-danger">Attaccante</h5> {{attaccante.nome}}
            </h5>

        </li>
    </div>
    <ng-template class="list-group-item" #scegliattaccante>
        <button type="button" class="btn btn-danger mb-3 w-100" (click)="open(content, 3)">Scegli Attaccante</button>
    </ng-template>
</ul>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Scegli {{titoloModale}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="input-group mb-3 mt-3">
                <select class="form-select" [(ngModel)]="giocatoreSelected" [ngModelOptions]="{standalone: true}">
                    <option></option>
                    <option *ngFor="let giocatore of listGiocatori" [ngValue]="giocatore">{{giocatore.nome}}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark w-100" (click)="modal.close()">Save</button>
    </div>
</ng-template>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Giocatore</th>
            <th scope="col">Ruolo</th>
            <th scope="col">Infortunato</th>
            <th scope="col">Espulso</th>
        </tr>
    </thead>
    <tbody *ngIf="giocatoriPosseduti">
        <tr *ngFor="let giocatore of giocatoriPosseduti" class="align-middle">
            <td>{{giocatore?.nome}}</td>
            <td>{{giocatore?.eruolo}}</td>
            <td>{{giocatore?.binfortunato ? 'SI' : 'NO'}}</td>
            <td>{{giocatore?.bsqualificato  ? 'SI' : 'NO'}}</td>
        </tr>
    </tbody>
</table>